h1 {
    color:darkgreen;
    text-align: center;
    
    
}

.divbk {
    
    width: 5in;
    margin-top: 1in;
    margin-bottom: 0.5in;
}


.divLogo {
    margin-top: 0.4in;
    margin-bottom: 0.5in;
    margin-left: 0.7in;
}

label {
    background-color: seagreen;
    padding-left: 0.1in;
    color: white;
    
    width: 1in;
    height: 0.3in;
 }

 img {
      max-width: 100%;
      height: auto;
 }